.maskform{
  height: 450px;
  &__ja{
  @include heading-japan;
  }
  &__en{
  @include heading-english;
  padding-top: 20px;
  }
  &__box{
    @include mainbox;
    input{
      height: 40px;
      width: 100%;
      margin: 5px 0 0 0;
      padding-left: 10px;
    }
    .field{
      margin-bottom: 15px;
    }
    &--submit{
      background-color: $blue;
      color: $white;
      margin-bottom: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      border-radius: 20px;
    }
  }
}

.done__low{
  height: 100%;
  margin: 150px;
  .done__box{
    height: 500px;
    text-align: center;
    margin: 20px 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    &--font{
      font-size: 30px;
      padding-top: 100px;
    }
    &--success{
    background-color:$blue;
    height: 50px;
    line-height: 50px;
    width: 300px;
    text-align: center;
    margin: 100px auto;
    color: $white;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    }
  }
}