* {
  box-sizing: border-box;
  font-family: Sawarabi Mincho;
}
body{
  height: 100vh;
  margin-top: 75px;
}
a{
  text-decoration: none;
}
header{
  height: 75px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: 0 50px;
  line-height: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  @include flex-between();
  .findmask{
   font-size: 30px;
   color: $blue;
   font-family: Roboto;
  }
  .header__lists{
    @include flex();
    justify-content: space-around;
    height: 50px;
    line-height: 50px;
    margin: auto 0;
    .signup--btn,.login--btn {
    padding: 0 20px;
    color: $white;
    margin-left: 40px;
    background-color: $blue;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    transform: translate(-2.5px, -2.5px);
    &:hover{
      box-shadow: none;
      transform: none;
    }
    }
    .gestbtn{
      background-color: red;
    }
  }
  .menu__btn{
    height: 50px;
    background-color: #4689FF;
    color: #ffffff;
    width: 160px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 105px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
  }
  .dropdwn_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    background: $blue;
    & li{
      width: 100%;
      & a{
        display: block;
        color: #fff;
        &:hover{
          background: $white;
          color: $blue;
        }
      }
    }  
  }
  
}
.topcontens{
  background-size: cover;
  height: 950px;
  background-image: url("hand.jpg");
  margin-top: 75px;
  background-position: center;
  &__logo{
    color: white;
    font-size: 40px;
    border: white solid 1px;
    padding: 20px 80px;
    opacity: 0;
    animation: logo 5s, movecontent 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    font-family: Roboto;
    @include moveanimation();
   }
  &__right{
    position: absolute;
    left: 70%;
    top: 35%;
    h1{
      color: $white;
      font-size: 30px;
      font-weight: bold;
      font-family: Sawarabi Mincho;
    }
    h4{
      color: $white;
      font-size: 15px;
      font-weight: 200px;
      margin-top: 20px;
      font-family: Sawarabi Mincho;
    }
    &--btn{
      border: solid 1px white;
      color: white;
      padding: 15px 80px;
      text-decoration: none;
      margin-top: 80px;
      display: block;
      font-family: Sawarabi Mincho;
      &:hover{
        transform: translate(-2.5px, -2.5px);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
      }
    }
    }
}
.servise{
  height: 650px;
  background-color: $white;
  padding: 90px 300px;
  &__en{
   @include heading-english();
  }
  &__ja{
   @include heading-japan();
  }
  &__images{
    @include flex-between();
    &--left{
      height: 300px;
      width: 450px;
      background-image: image-url("search.jpg");
      background-size: 100% 100%;
      position: relative;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      transform: translate(-2.5px, -2.5px);
      &:hover{
        box-shadow: none;
        transform: none;
      }
      &-box{
      @include boxabsolute;
      color: $black;
      p{
       @include box-design();
      }
      div{
        color: $black;
        margin-top: 10px;
      }
      }
    }
    &--right{
      height: 300px;
      width: 450px;
      background-image: image-url("shop.jpg");
      background-size: 100% 100%;
      position: relative;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      transform: translate(-2.5px, -2.5px);
      &:hover{
        box-shadow: none;
        transform: none;
      }
      &-box{
        @include boxabsolute;
        color: $black;
        p{
          @include box-design();
         }
         div{
           color: $black;
           margin-top: 10px;
         }
      }
    }
  }
}

.secondservise{
  margin: 50px 0;
  &__images{
    height: 300px;
    width: 450px;
    background-image: image-url("post2.jpg");
    background-size: 100% 100%;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    margin: 0 auto;
    transform: translate(-2.5px, -2.5px);
      &:hover{
        box-shadow: none;
        transform: none;
      }
    &--box{
      @include boxabsolute;
      color: $black;
      p{
        @include box-design();
       }
       div{
         color: $black;
         margin-top: 10px;
       }
    }
  }
}

.posts{
  padding-top:90px;
  &__en{
    @include heading-english();
  }
  &__ja{
    @include heading-japan();
    & :nth-child(1){
      font-weight: 700;
      font-size: 30px;
    }
    & :nth-child(2){
      font-size: 15px;
      margin-top: 15px;
      font-weight: 500;
    }
  }
  &__box{
    margin: 100px 0;
    padding: 0 200px;
    text-align: center;
    .fa-arrow-circle-up{
      font-size: 30px;
      cursor: pointer;
    }
    .fa-arrow-circle-down{
      font-size: 30px;
      cursor: pointer;
    }
    .newpost__box{
      margin: 50px 0;
      text-align: center;
      width: 100%;
      color: $black;
      &--date{
        color: $blue;
        margin-right: 10px;
        font-weight: bold;
      }
      &--name{
        font-size: 25px;
        font-weight: bold;
        margin-right: 100px;
      }
      &--content{
        margin-top: 20px;
      }
    }
  }
  
}
.postform{
  height: 450px;
  display: inline;
  &__ja{
  @include heading-japan;
  }
  &__en{
  @include heading-english;
  padding-top: 20px;
  }
  &__box{
    @include mainbox;
    &--area{
      width: 100%;
      height: 200px;
      margin-top: 10px;
    }
    &--submit{
      width: 100%;
      margin: 10px 0;
      height: 40px;
      background-color: $blue;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      border-radius: 20px;
      color:$white;
    }
  }
}
footer {
  color: $blue;
  p {
    text-align: center;
    margin: 30px 0;
  }
}

.space{
  margin: 0 10px;
}