* {
  box-sizing: border-box;
}
body{
  height: 100vh;
  margin-top: 75px;
}
a{
  text-decoration: none;
}
header{
  height: 75px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: 0 50px;
  line-height: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  @include flex-between();
  .findmask{
   font-size: 30px;
   color: $blue;

  }
  .header__lists{
    @include flex();
    justify-content: space-around;
    width: 500px;
    height: 50px;
    line-height: 50px;
    margin: auto 0;
    .signup--btn,.login--btn {
    border: solid 1px $blue;
    padding: 0 20px;
    color: $white;
    background-color: $blue;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    }
  }
}
.topcontens{
  height: 950px;
  background-image: image-url("hand.jpg");
  background-size: 100% 100%;
  margin-top: 75px;
  &__logo{
    color: white;
    font-size: 40px;
    border: white solid 1px;
    padding: 20px 80px;
    opacity: 0;
    animation: logo 5s, movecontent 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    @include moveanimation();
   }
  &__right{
    position: absolute;
    left: 70%;
    top: 35%;
    h1{
      color: $white;
      font-size: 30px;
      font-weight: bold;
    }
    h4{
      color: $white;
      font-size: 15px;
      font-weight: 200px;
      margin-top: 20px;
    }
    &--btn{
      border: solid 1px white;
      color: white;
      padding: 15px 80px;
      text-decoration: none;
      margin-top: 80px;
      display: block;
    }
    }
}
.servise{
  height: 650px;
  background-color: $white;
  padding: 90px 300px;
  &__en{
   @include heading-english();
  }
  &__ja{
   @include heading-japan();
  }
  &__images{
    @include flex-between();
    &--left{
      height: 300px;
      width: 450px;
      background-image: image-url("search.jpg");
      background-size: 100% 100%;
      position: relative;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      &-box{
      @include boxabsolute;
      color: $black;
      p{
       @include box-design();
      }
      div{
        color: $black;
        margin-top: 10px;
      }
      }
    }
    &--right{
      height: 300px;
      width: 450px;
      background-image: image-url("shop.jpg");
      background-size: 100% 100%;
      position: relative;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      &-box{
        @include boxabsolute;
        color: $black;
        p{
          @include box-design();
         }
         div{
           color: $black;
           margin-top: 10px;
         }
      }
    }
  }
}

.secondservise{
  margin: 50px 0;
  &__images{
    height: 300px;
    width: 450px;
    background-image: image-url("post2.jpg");
    background-size: 100% 100%;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    margin: 0 auto;
    &--box{
      @include boxabsolute;
      color: $black;
      p{
        @include box-design();
       }
       div{
         color: $black;
         margin-top: 10px;
       }
    }
  }
}

.posts{
  padding-top:90px;
  &__en{
    @include heading-english();
  }
  &__ja{
    @include heading-japan();
  }
  &__box{
    margin-top: 100px;
    padding: 0 200px;
    .newpost__box{
      margin: 50px 0;
      text-align: center;
      width: 100%;
      color: $black;
      &--date{
        color: $blue;
        margin-right: 10px;
        font-weight: bold;
      }
      &--name{
        font-size: 25px;
        font-weight: bold;
        margin-right: 100px;
      }
      &--content{
        margin-top: 20px;
      }
    }
  }
  
}
.postform{
  height: 450px;
  &__ja{
  @include heading-japan;
  }
  &__en{
  @include heading-english;
  padding-top: 20px;
  }
  &__box{
    @include mainbox;
    &--area{
      width: 100%;
      height: 200px;
      margin-top: 10px;
    }
    &--submit{
      width: 100%;
      margin: 10px 0;
      height: 40px;
      background-color: $blue;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
      border-radius: 20px;
      color:$white;
    }
  }
}


