.shop{
  height: 1100px;
  &__en{
    padding-top: 50px;
    @include heading-english;
  }
  &__ja{
    @include heading-japan;
  }
  &__box{
    @include mainbox;
    height: 850px;
    @include flex-between;
    position: relative;
    &--image{
      height: 220px;
      width: 250px;
      background-image: url("no-image.jpg");
      background-size: 100% 100%;
      margin: 50px 0 0 60px;
    }
    &--contens{
      width: 700px;
      height: 350px;
      padding:20px 30px;
      color: $black;
      .shop__content{
        height: 60px;
        width: 100%;
        margin-top:10px;
        line-height: 60px;
      }
      .shop__name{
        font-size: 30px;
        font-weight: bold;
      }
    }
    &--masks{
      height: 300px;
      width: calc(100% - 100px);
      position: absolute;
      bottom: 30px;
      @include flex;
      overflow: scroll;
      .mask-box{
        height: 100%;
        width: 33%;
        margin-right: 20px;
        &--image{
          height:240px ;
          position: relative;
          @include flex;
        }
        &--under{
          position: relative;
          height: calc(100% - 240px);
        }
        &--name{
          position: absolute;
          left: 10px;
        }
        &--stock{
          position: absolute;
          bottom: 0;
          left:10px ;
          font-size: 15px;
        }
        &--destroy{
          position: absolute;
          left: 360px;
          top: 10px;
          font-size: 30px;
          i{
            color: $black;
          }
        }
      }
    }
  }
}
.content__btns{
  height: 120px;
  // background-color: red;
  @include flex-between;
  padding: 10px 165px;
  .content__btn{
    height: 100px;
    width: 400px;
    background-color: $blue;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    font-weight: bold;
    color: $white;
  }
}