.notification {
  .notice {
    background-color: $blue;
    color: $white;
    text-align: center;
    float:left ;
    width: 100%;
    height: 30px;
    line-height: 30px;
  }
  .alert {
    background-color: $blue;
    color: $white;
    text-align: center;
    float: left;
    width: 100%;
  }
}