.topcontens
  .topcontens__logo
    Find Mask
  .topcontens__right
    %h1
      マスクを見つける
    %h4
      コロナウィルスの影響で直面した
      %br
      マスク入手困難を解決する
    = link_to "#", class: "topcontens__right--btn" do
      サービス案内
