@mixin flex {
  display: flex;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin boxabsolute {
  height: 150px;
  width: 400px;
  position: absolute;
  top: 230px;
  left: 130px;
  background: linear-gradient($blue, $white);
  border-radius: 10px 20px 30px 40px;
  padding: 15px 20px;
  text-align: center;
}

@mixin box-design {
  font-size: 25px;
  font-weight: bold;
  color: $white;
}

@mixin heading-japan {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
@mixin heading-english {
  font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: $blue;
}

@mixin mainbox {
  width: 80%;
  background-color: #EEEEEE;
  height: 80%;
  margin: 0 auto;
  overflow: scroll;
  padding: 30px 50px;
  box-shadow: 0 0 8px $black;
}