@mixin flex {
  display: flex;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin boxcss {
  height: 150px;
  width: 400px;
  position: absolute;
  top: 230px;
  left: 130px;
  background: linear-gradient($blue, $white);
  border-radius: 10px 20px 30px 40px;
  padding: 15px 20px;
  text-align: center;
}

@mixin box-design {
  font-size: 25px;
  font-weight: bold;
  color: $white;
}